server:
  port: ${SERVER_PORT:8080}

spring:
  config:
    import: "optional:file:.env[.properties]"
  application:
    name: pagosDigitales
  datasource:
    url: ${DB_URL:jdbc:oracle:thin:@10.100.3.20:1521:PRS6}
    username: ${DB_USERNAME:TUKUNAFUNC}
    password: ${DB_PASSWORD:tvkvn4tst}
    driver-class-name: ${DB_DRIVER:oracle.jdbc.OracleDriver}
#PROVISIONAL DEV
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none

camel:
  springboot:
    main-run-controller: true

direct-online-payment-requests:
  providers:
    paysafe:
      enabled: true
      type: rest
      method: ${DOPR_PAYSAFE_METHOD:POST}
      url: ${DOPR_PAYSAFE_URL:https://sandbox-mws.safetypay.com/mpi/api/v1/direct-online-payment-requests}
      headers:
        X-Api-Key: ${DOPR_PAYSAFE_API_KEY:c14e0ba4e1845e09ba08a4be0fba95e5}
        X-Version: ${DOPR_PAYSAFE_X_VERSION:20200803}
        Content-Type: ${DOPR_PAYSAFE_CONTENT_TYPE:application/json}
      defaults:
        payment_ok_url: ${DOPR_PAYSAFE_PAYMENT_OK_URL:https://www.safetypay.com/success.com}
        payment_error_url: ${DOPR_PAYSAFE_PAYMENT_ERROR_URL:https://www.safetypay.com/error.com}
        application_id: ${DOPR_PAYSAFE_APPLICATION_ID:7}
  mapping:
    default:
      request:
        sales_amount.value: sales_amount.value
        sales_amount.currency_code: sales_amount.currency_code
        sales_amount: sales_amount
        country_code: country_code
        bank_id: bank_id
        merchant_set_pay_amount: merchant_set_pay_amount
        expiration_time_minutes: expiration_time_minutes
        language_code: language_code
        custom_merchant_name: custom_merchant_name
        merchant_sales_id: merchant_sales_id
        requested_payment_type: requested_payment_type
        transaction_email: transaction_email
        send_email_shopper: send_email_shopper
      response:
        responseDatetime: response_datetime
        operationId: operation_id
        bankRedirectUrl: bank_redirect_url
        paymentExpirationDatetime: payment_expiration_datetime
        paymentExpirationDatetimeUtc: payment_expiration_datetime_utc
        transactionId: transaction_id
        payableAmounts: payable_amounts
        paymentLocations: payment_locations
        payableAmountsItem:
          amount.value: amount.value
          amount.currency_code: amount.currency_code
          additional_info: additional_info
        paymentLocationsItem:
          location_id: location_id
          location_name: location_name
          bank_subsidiary_code: bank_subsidiary_code
          payment_instructions: payment_instructions
          howto_pay_steps: howto_pay_steps
          status: status
        paymentInstructionsItem:
          name: name
          value: value
          display_label: display_label
        howtoPayStepsItem:
          step_number: step_number
          step_instruction: step_instruction
    paysafe:
      request:
        merchant_set_pay_amount_data.merchant_currency_code: sales_amount.currency_code
        merchant_set_pay_amount_data.country_code: country_code
        sales_amount.value: sales_amount.value
        sales_amount.currency_code: sales_amount.currency_code
        sales_amount: sales_amount
        country_code: country_code
        bank_id: bank_id
        merchant_set_pay_amount: merchant_set_pay_amount
        expiration_time_minutes: expiration_time_minutes
        language_code: language_code
        custom_merchant_name: custom_merchant_name
        merchant_sales_id: merchant_sales_id
        requested_payment_type: requested_payment_type
        transaction_email: transaction_email
        send_email_shopper: send_email_shopper
      response:
        responseDatetime: response_datetime
        operationId: operation_id
        bankRedirectUrl: bank_redirect_url
        paymentExpirationDatetime: payment_expiration_datetime
        paymentExpirationDatetimeUtc: payment_expiration_datetime_utc
        transactionId: transaction_id
        payableAmounts: payable_amounts
        paymentLocations: payment_locations
        payableAmountsItem:
          amount.value: amount.value
          amount.currency_code: amount.currency_code
          additional_info: additional_info
        paymentLocationsItem:
          location_id: location_id
          location_name: location_name
          bank_subsidiary_code: bank_subsidiary_code
          payment_instructions: payment_instructions
          howto_pay_steps: howto_pay_steps
          status: status
        paymentInstructionsItem:
          name: name
          value: value
          display_label: display_label
        howtoPayStepsItem:
          step_number: step_number
          step_instruction: step_instruction

merchant-events:
  providers:
    paysafe:
      enabled: true
      type: rest
      method: ${ME_PAYSAFE_METHOD:POST}
      url: ${ME_PAYSAFE_URL:https://sandbox-mws.safetypay.com/mpi/api/v1/payments/notifications/merchant-events}
      headers:
        X-Api-Key: ${ME_PAYSAFE_API_KEY:c14e0ba4e1845e09ba08a4be0fba95e5}
        X-Version: ${ME_PAYSAFE_X_VERSION:20200803}
        Content-Type: ${ME_PAYSAFE_CONTENT_TYPE:application/json}
  mapping:
    default:
      request:
        merchant_events: merchant_events
        request_datetime: request_datetime
      response:
        requestId: request_id
        responseDatetime: response_datetime
    paysafe:
      request:
        merchant_events: merchant_events
        request_datetime: request_datetime
      response:
        requestId: request_id
        responseDatetime: response_datetime

payments:
  providers:
    paysafe:
      enabled: true
      type: rest
      method: ${PAYMENTS_PAYSAFE_METHOD:GET}
      url: ${PAYMENTS_PAYSAFE_URL:https://sandbox-mws.safetypay.com/mpi/api/v1/payments/}
      query:
        operation_id: ${operation_id}
        request_datetime: ${request_datetime}
        limit: ${PAYMENTS_LIMIT:100}
      headers:
        X-Api-Key: ${PAYMENTS_PAYSAFE_API_KEY:c14e0ba4e1845e09ba08a4be0fba95e5}
        X-Version: ${PAYMENTS_PAYSAFE_X_VERSION:20200803}
  mapping:
    default:
      response:
        requestId: request_id
        responseDatetime: response_datetime
        paymentOperations: payment_operations
    paysafe:
      response:
        requestId: request_id
        responseDatetime: response_datetime
        paymentOperations: payment_operations

getbanks:
  providers:
    paysafe:
      enabled: true
      type: rest
      method: ${GETBANKS_PAYSAFE_METHOD:GET}
      url: ${GETBANKS_PAYSAFE_URL:https://sandbox-mws.safetypay.com/mpi/api/v1/banks}
      query:
        country_code: ${country_code}
        channel: ${GETBANKS_PAYSAFE_CHANNEL:1}
        request_datetime: ${now}
        limit: ${GETBANKS_PAYSAFE_LIMIT:100}
      headers:
        X-Api-Key: ${GETBANKS_PAYSAFE_API_KEY:c14e0ba4e1845e09ba08a4be0fba95e5}
        X-Version: ${GETBANKS_PAYSAFE_X_VERSION:20200803}
    pichincha:
      enabled: true
      type: rest
      method: ${GETBANKS_PICHINCHA_METHOD:GET}
      url: ${GETBANKS_PICHINCHA_URL:https://sandbox-mws.safetypay.com/mpi/api/v1/banks}
      query:
        country_code: ${country_code}
        channel: ${GETBANKS_PICHINCHA_CHANNEL:1}
        request_datetime: ${now}
        limit: ${GETBANKS_PICHINCHA_LIMIT:100}
      headers:
        X-Api-Key: ${GETBANKS_PICHINCHA_API_KEY:c14e0ba4e1845e09ba08a4be0fba95e5}
        X-Version: ${GETBANKS_PICHINCHA_X_VERSION:20200803}
  mapping:
    default:
      response:
        requestId: request_id
        responseDatetime: response_datetime
        banks: banks
      bank:
        bank_id: bank_id
        bank_name: bank_name
        bank_commercial_name: bank_commercial_name
        bank_country_code: bank_country_code
        bank_type: bank_type
        show_standalone: show_standalone
        channel: channel
        channel_tag: channel_tag
        status: status
        access_type: access_type
        language_code: language_code
        working_hours: working_hours
        disclaimer: disclaimer
        default_currency_code: default_currency_code
        locations_url: locations_url
        amount_limits: amount_limits
    paysafe:
      response:
        requestId: request_id
        responseDatetime: response_datetime
        banks: banks
      bank:
        bank_id: bank_id
        bank_name: bank_name
        bank_commercial_name: bank_commercial_name
        bank_country_code: bank_country_code
        bank_type: bank_type
        show_standalone: show_standalone
        channel: channel
        channel_tag: channel_tag
        status: status
        access_type: access_type
        language_code: language_code
        working_hours: working_hours
        disclaimer: disclaimer
        default_currency_code: default_currency_code
        locations_url: locations_url
        amount_limits: amount_limits
    pichincha:
      response:
        requestId: request_id
        responseDatetime: response_datetime
        banks: banks
      bank:
        bank_id: bank_id
        bank_name: bank_name
        bank_commercial_name: bank_commercial_name
        bank_country_code: bank_country_code
        bank_type: bank_type
        show_standalone: show_standalone
        channel: channel
        channel_tag: channel_tag
        status: status
        access_type: access_type
        language_code: language_code
        working_hours: working_hours
        disclaimer: disclaimer
        default_currency_code: default_currency_code
        locations_url: locations_url
        amount_limits: amount_limits

providers-pay:
  codes:
    paysafe: ${PROVIDERS_PAYSAFE_CODE:235689}
    pichincha: ${PROVIDERS_PICHINCHA_CODE:456123}

providers:
  dynamic-routes-enabled: true

safetypay:
  confirmation:
    enabled: true
    providers:
      paysafe:
        apiKey: ${SAFETYPAY_API_KEY:c14e0ba4e1845e09ba08a4be0fba95e5}
        secret: ${SAFETYPAY_SECRET:a8fed296d6a4e4d877c1abbe8de938a2}
        signatureMode: ${SAFETYPAY_SIGNATURE_MODE:SHA256}
        allowedIps: []

error-mapping:
  providers:
    default:
      error: error
    paysafe:
      error: error
    pichincha:
      error: error
