server:
  port: 8080

spring:
  application:
    name: pagosDigitales
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/XEPDB1
    username: GPF
    password: GPF123
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none

camel:
  springboot:
    main-run-controller: true

getbanks:
  providers:
    paysafe:
      enabled: true
      type: rest
      method: GET
      url: https://sandbox-mws.safetypay.com/mpi/api/v1/banks
      query:
        country_code: ${country_code}
        channel: 1
        request_datetime: ${now}
        limit: 100
      headers:
        X-Api-Key: c14e0ba4e1845e09ba08a4be0fba95e5
        X-Version: 20200803
    pichincha:
      enabled: true
      type: rest
      method: GET
      url: https://sandbox-mws.safetypay.com/mpi/api/v1/banks
      query:
        country_code: ${country_code}
        channel: 1
        request_datetime: ${now}
        limit: 100
      headers:
        X-Api-Key: c14e0ba4e1845e09ba08a4be0fba95e5
        X-Version: 20200803
  mapping:
    default:
      response:
        requestId: request_id
        responseDatetime: response_datetime
        banks: banks
      bank:
        bank_id: bank_id
        bank_name: bank_name
        bank_commercial_name: bank_commercial_name
        bank_country_code: bank_country_code
        bank_type: bank_type
        show_standalone: show_standalone
        channel: channel
        channel_tag: channel_tag
        status: status
        access_type: access_type
        language_code: language_code
        working_hours: working_hours
        disclaimer: disclaimer
        default_currency_code: default_currency_code
        locations_url: locations_url
        amount_limits: amount_limits
    paysafe:
      response:
        requestId: request_id
        responseDatetime: response_datetime
        banks: banks
      bank:
        bank_id: bank_id
        bank_name: bank_name
        bank_commercial_name: bank_commercial_name
        bank_country_code: bank_country_code
        bank_type: bank_type
        show_standalone: show_standalone
        channel: channel
        channel_tag: channel_tag
        status: status
        access_type: access_type
        language_code: language_code
        working_hours: working_hours
        disclaimer: disclaimer
        default_currency_code: default_currency_code
        locations_url: locations_url
        amount_limits: amount_limits
    pichincha:
      response:
        requestId: request_id
        responseDatetime: response_datetime
        banks: banks
      bank:
        bank_id: bank_id
        bank_name: bank_name
        bank_commercial_name: bank_commercial_name
        bank_country_code: bank_country_code
        bank_type: bank_type
        show_standalone: show_standalone
        channel: channel
        channel_tag: channel_tag
        status: status
        access_type: access_type
        language_code: language_code
        working_hours: working_hours
        disclaimer: disclaimer
        default_currency_code: default_currency_code
        locations_url: locations_url
        amount_limits: amount_limits

providers-pay:
  codes:
    paysafe: 235689
    pichincha: 456123

providers:
  dynamic-routes-enabled: true
